<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 승인 대기 중</title>
</head>
<body>
<span>결제 승인 대기 중 입니다.</span>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const paymentKey = urlParams.get('paymentKey');
        const orderId = urlParams.get('orderId');
        const amount = urlParams.get('amount');
        const paymentType = urlParams.get('paymentType');
        let status;

        const credentials = localStorage.getItem('accessToken');
        if (!credentials) {
            alert('사용자 정보가 없습니다.');
            window.location.href = '/login';
        }

        fetch('/api/v1/pay/validate', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${credentials}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "paymentKey": paymentKey,
                "orderId": orderId,
                "amount": amount,
                "paymentType": paymentType
            })
        }).then((response) => {
            if (response.ok) {
                return response.json();
            }
            else {
                response.json().then((data) => {
                    alert(data.message);
                });
                self.close();
            }
        }).then((data) => {
            top.opener.location.href = `/pay/success?orderId=${data.orderId}`;
            self.close();
        }).catch((error) => {
            console.error(error);
        });
    })
</script>
</body>
</html>
