<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <title>Shopping</title>
</head>
<body>
<div class="root">
  <div th:replace="~{layouts/header :: header}"></div>

  <section class="form-container">
    <form id="signup-form" class="mt-40">
      <label for="email">이메일</label>
      <input class="text-input mb-10" type="text" id="email" name="email" required>

      <label for="password">비밀번호</label>
      <input class="text-input mb-10" type="password" id="password" name="password" required>

      <label for="passwordCheck">비밀번호 확인</label>
      <input class="text-input mb-10" type="password" id="passwordCheck" name="passwordCheck" required>

      <label for="nickname">닉네임</label>
      <input class="text-input mb-10" type="text" id="nickname" name="nickname" required>

      <fieldset>
        <legend>성별을 선택해주세요</legend>
        <div>
          <input type="radio" id="male" name="gender" value="male" checked />
          <label for="male">남자</label>
        </div>
        <div>
          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">여자</label>
        </div>
      </fieldset>

      <label for="birthDate">BirthDate</label>
      <input class="text-input mb-10" type="date" id="birthDate" name="birthDate" required>

      <button type="submit" class="primary-button-small form-submit-button">Sign up</button>
    </form>
  </section>
</div>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>
